<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Logowanie</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="text-center">
        <h2>Logowanie</h2>
        <form th:action="@{/login}" method="post" class="form-signin">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Nieprawidłowy login lub hasło.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">Zostałeś wylogowany/-a.</div>
            </div>
            <label for="userName" class="sr-only">Login</label>
            <input type="text" id="userName" name="userName"
                   class="form-control"
                   placeholder="Login" required autofocus/>
            <label for="password" class="sr-only">Hasło</label>
            <input type="password" id="password" name="password"
                   class="form-control" placeholder="Hasło" required/>
            <div class="text-right">
                <h4>
                    <a href="#">
                        Zapomniałeś hasła??
                    </a>
                </h4>
            </div>

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-primary btn-block" type="submit">Zaloguj się</button>
            </div>

            <div class="form-group">
                <h4><span>Nowy użytkownik? <a href="/" th:href="@{registration}">Zarejestruj się tutaj.</a></span></h4>
            </div>
        </form>
    </div>
</div>

</body>
</html>

