<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="text-center">
        <div class="container-register">
            <div th:if="${param.success}">
                <div class="alert alert-info">Gratulacje, twoje konto zostało utworzone!</div>
            </div>


            <form th:action="@{/registration}" th:object="${user}" method="post" class="form-register">
                <h2 class="text-center">Rejestracja</h2>
                <p class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">Imię: <br></label> <input id="firstName"
                                                                                           placeholder="Podaj imię"
                                                                                           class="form-control"
                                                                                           type="text"
                                                                                           th:field="*{firstName}"/>
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Nazwisko:<br></label> <input id="lastName"
                                                                                             type="text"
                                                                                             placeholder="Podaj nazwisko"
                                                                                             class="form-control"
                                                                                             th:field="*{lastName}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                    <label for="userName" class="control-label">Nazwa użytkownika (login):<br></label>
                    <input id="userName"
                           type="text"
                           placeholder="Podaj nazwę użytkowanika"
                           class="form-control"
                           th:field="*{userName}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('userName')}" th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail:<br></label> <input id="email" class="form-control"
                                                                                        type="text"
                                                                                        placeholder="Podaj adres e-mail"
                                                                                        th:field="*{email}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('email')}" th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Powtórz e-mail:<br></label> <input id="confirmEmail"
                                                                                                       type="text"
                                                                                                       placeholder="Powtórz email"
                                                                                                       class="form-control"
                                                                                                       th:field="*{confirmEmail}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Hasło: <br></label> <input id="password"
                                                                                           class="form-control"
                                                                                           type="password"
                                                                                           placeholder="Podaj hasło"
                                                                                           th:field="*{password}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                        Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Powtórz hasło: <br></label> <input
                        id="confirmPassword" class="form-control" type="password" placeholder="Powtórz hasło"
                        th:field="*{confirmPassword}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <br>
                    <input id="terms" type="checkbox" th:field="*{terms}"/> <label class="control-label"
                                                                                   for="terms"> Oświadczam, że
                    zapoznałem się z <a href="#">Regulaminem</a>, akceptuję jego treść i zobowiązuję się przestrzegać
                    jego postanowień. </label>
                    <br>

                    <p class="error-message" th:each="error : ${#fields.errors('terms')}" th:text="${error}">
                        Validation error
                    </p>
                </div>

                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-primary btn-block" type="submit">Zarejestruj się</button>
                </div>
                <h4>
                    <span>Masz już konto? <a href="/static" th:href="@{/login}">Zaloguj się.</a></span>
                </h4>
            </form>
        </div>
    </div>
</div>
</body>
</html>