<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<th:block th:fragment="header">
    <div class="header">
        <img class="logo" src="/img/logo.png" alt="LOGO">
        <div class="header-left">
            <a th:href="@{/}">Strona główna</a>
            <a th:href="@{/quiz}">Gra swobodna</a>
            <span sec:authorize="isAuthenticated()"><a th:href="@{/mainQuiz}">Gra turniejowa</a></span>
            <span sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/adminPanel}">Panel admina</a></span>
            <a th:href="@{/html/contact}">Kontakt</a>
        </div>

        <div class="header-right" sec:authorize="isAuthenticated()">
            <div class="header-right-left">Witaj,
                <b>
                    <span sec:authentication="name">.</span>
                </b></div>
            <a th:href="@{/logout}">Wyloguj się</a>
        </div>
        <div class="header-right" sec:authorize="!isAuthenticated()">
            <div class="header-right-left"> Masz konto?</div>
            <a th:href="@{/login}">Logowanie</a>
        </div>
    </div>
</th:block>
</body>
</html>