<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Turniej Wiedzy o Harrym Potterze</title>
</head>
<body class="background-dark">
<th:block th:replace="fragments/header :: header"/>

<main>
    <th:block layout:fragment="content"/>
</main>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>