html {
    font-family: "Roboto";
    font-size: 10px;
}

body {

    font-size: 1.6rem;
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
}

label {
    margin: 5px;
}


/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #1A1E2A;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: #f5f5f5;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}


.footer a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 60px;

}

.footer a:hover {
    padding: 50px;
    background-color: #f5f5f5;
    color: #f5f5f5;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.facebook {
    width: 60px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.instagram {
    width: 60px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #4267b2;
    color: #f5f5f5;
}

/* Style the active/current link*/
.header a.active {
    background-color: #4267b2;
    color: #f5f5f5;
}

/* Float the link section to the right */

.header-left {
    margin-left: 10%;
    float: left;
}

.header-right {
    float: right;
    margin-right: 10%;
    color: #f5f5f5;
    text-align: center;

    text-decoration: none;
    font-size: 18px;
    line-height: 25px;;
}

.header-right-left {
    float: left;
    margin: 12px 5px 12px 5px;
}


.container-register {
    margin-right: 20%;
    margin-left: 20%;
    text-align: left;

}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .logo {
        width: 100%;
    }

    .header-right {
        float: none;
        margin-right: 0;
    }

    .header-right-left {
        text-align: left;
        margin: 12px;
        float: none;

    }

    .header-left {
        float: none;
        margin-left: 0;
    }

    .container-register {
        margin-right: 2%;
        margin-left: 2%;
        text-align: left;

    }

    main .container .form-quiz {
        padding: 0px;
    }

}


.background-dark {
    background: #1A1E2A;
    color: #f5f5f5;
}


li {
    list-style: none;
    font-weight: bold;
}

nav {
    margin: auto;
    max-width: 50rem;
}

a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px
}

a:hover {
    background-color: #4267b2;
    color: #f5f5f5;
}

a:visited {
    color: #f5f5f5;
}

li > a {
    display: block;
    color: #f5f5f5;
    padding: 1.5rem;
}

li > a:hover {
    background: #4267b2;
}

main {
    max-width: 110rem;
    min-height: calc(30vh - 0.5rem);
    margin: 0 auto;
    padding: 0 1.5rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
    padding: 2rem;
}

h2 {
    padding: 1rem;
}

h3 {
    padding: 1rem;
}


.toggle-background {
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: #4267b2;
    border: none;
    border-radius: 1rem;
    outline: none;

}


#descrption > div {
    margin-top: 2rem;
}


footer {
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
    color: #f5f5f5;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-register {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

.text-center {
    text-align: center !important
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


.btn-primary {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2
}

.btn:hover {
    background-color: #4d86d8;
    text-decoration: none
}

.btn-block {
    display: block;
    width: 100%
}

.btn-margin {
    margin: 0%;
}

.form-group {
    margin-bottom: 1rem
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.container {
    min-width: 992px !important

}

.control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top
}




.form-contact {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-contact .checkbox {
    font-weight: 400;
}
.form-contact .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-contact .form-control:focus {
    z-index: 2;
}
.form-contact input[type="userName"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
}
.form-contact input[type="mail"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    float: right;
}
.form-contact textarea {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-decoration: none;
    float: right;
    font-family: "Roboto";
}
.form-quiz {
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.form-quiz-input [type ="radio"]{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
}

.content {
    height: 5px;
    text-align: center;
    margin-bottom: 70px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

/* quiz formating */
.container-quiz input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-quiz {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.container-quiz:hover input ~ .checkmark {
    background-color: #ccc;
}


.container-quiz input:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark-quiz:after {
    content: "";
    position: absolute;
    display: none;
}


.container-quiz input:checked ~ .checkmark:after {
    display: block;
}


.container-quiz .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.question-number {
    color: #f5f5f5;
    text-align: center;
    padding: 12px 12px 24px;
    font-size: 20px;
    line-height: 5px;
}

.question {
    color: #f5f5f5;
    text-align: center;
    border-style: solid;
    border-color: #f5f5f5;
    padding: 12px;
    font-size: 22px;
    line-height: 25px;
    border-radius: 20px;
}



