<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Gra turniejowa</title>
</head>
<body>
<div class="container" layout:fragment="content" th:remove="tag">
    <form class="form-quiz" action="#" th:action="@{/saveMainQuiz}" th:object="${userAnswer}"
          method="post">
        <h2>Gra dla zalogowanych</h2>
        <div>
            <div class="question-number"><span th:text="'Pytanie ' + ${indexQuestion.getLastQuestion()+1}"/>
            </div>
            <h3 class="question">
                <span th:text="${mainQuestion.question}"/>
            </h3>
            <div  th:each="userAnswer : ${mainQuestion.getAllAnswersInRandomOrder()}">
                <div style="text-align: left">
                    <label class="container-quiz">
                        <span th:text="${userAnswer}"/>
                        <input type="radio" name="exampleRadios"
                               id="exampleRadios1"
                               th:value="${userAnswer}" th:field="*{userAnswer}" required>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-margin">Wybierz
            </button>
            <br>
        </div>
    </form>
</div>
</body>
</html>


