<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Gra swobodna</title>
</head>
<body>
<div class="container" layout:fragment="content" th:remove="tag">
    <div class="container my-4">
        <div class="row">
            <h3>Wynik <span th:text="${tresc}"></span></h3>
            <a th:href="@{/quizReset}" class="btn btn-primary">Reset</a>
        </div>
    </div>
</div>
</body>
</html>